:root{
    --roxo-escuro: #121135;
    --roxo-claro: #645CAB;
    --roxo-medio: #494273;
    --azul-claro: #50D9EA;
    --verde-claro: #CAEA4A;
    --lilas-claro: #C1ACFB;
    --lilas-escuro: #231F45;
    --rosa-claro: #EF368D;
    --cinza-escuro: #34343b;
    --cinza: #323639;
    --cinza-claro: #6b6a79;
    --preto: #08071F;
    --branco: #ffffff;

}